<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lead Detail {{ lead.id }}</title>
</head>
<body>
<a href="{% url 'leads:lead-list' %}">Go back to leads</a>
<hr />
<h1>Detail of {{ lead.first_name }}</h1>

    <p> This persons full name {{ lead.first_name }} {{ lead.last_name }} </p>
    <p> This persons age  {{ lead.age }} </p>
    <p> This persons agent  {{ lead.agent }} </p>
    <p> This persons Phoned  {{ lead.phoned }} </p>
    <p> This persons Source  {{ lead.source }} </p>

    <a href="{% url 'leads:lead-update' lead.pk %}">Update</a>
    <a href="{% url 'leads:lead-delete' lead.pk %}">Delete</a>

</body>
</html>